ion-toolbar{
    --background:#99A3A4
}
.bg{
    --background: #B9CDDA;
}
.landscape-class{
    width: 90%;
}
.no-landscape-class{
    width: 100%;
}
.landscape-grid{
    margin-left: 160px;
}
.no-landscape-grid{
    margin-top: 60px;
}