form{
    margin-top: 15%;
}
ion-toolbar{
    text-align: center;
}
ion-content{
    --background: #C2D076;
}
// ion-item{
//     --background: #2dd36f;
//     --color: #fff;
// }
// ion-button{
//     --background: #2dd36f;
// }