<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-grid>
    
  
    <ion-row>
     
      <ion-col >
        <ion-button expand="block" class="ion-margin-start ion-margin-end ion-margin-bottom" color="success"></ion-button>
   
        <ion-button expand="block" class="ion-margin-start ion-margin-end ion-margin-bottom" color="success"></ion-button>
      
      </ion-col>
    </ion-row>
  </ion-grid>  -->

        <!-- <ion-button expand="block" class="ion-margin-start ion-margin-end ion-margin-bottom" color="success"></ion-button>
   
        <ion-button expand="block" class="ion-margin-start ion-margin-end ion-margin-bottom" color="success"></ion-button>
 -->
<ion-grid>
 <ion-row>
  <ion-col >
    <ion-button color="success" (click)="IrAlChat('B')">PPS-4B</ion-button>
    <ion-button color="warning" (click)="IrAlChat('A')">PPS-4A</ion-button>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
