
ion-content {
  position: relative;
  height: 100%;
  width: 100%;
}
.bg{
  --background: #6E7F89;
}
ion-toolbar{
  text-align: center;
}
ion-chip{
  font-size: xx-large;
  color: white;
}

.ranking{
font-size: 30px;
padding: 15px;
border: 4px solid grey;
border-radius: 5px;
}
.card {
  margin: 0 auto;

  .header {
      height: 200px;

      .avatar {
          width: 160px;
          height: 160px;
          position: relative;
          margin: 0 auto;

          img {
              display: block;
              border-radius: 50%;
              position: absolute;
              bottom: calc(-1*(80px + 4px));
              border: 8px solid #9Dc912;
              background-color: #fff;
          }
      }
  }
}
.card-body {
  background-color: #8EAF9D;
  padding: 30px;
  height: calc(100vh – (200px + 56px));
  overflow: hidden;

  .user-meta {
      padding-top: 40px;

      .playername {
          font-size: 24px;
          font-weight: 600;
          color: #303940;
      }

      .country {
          font-size: 90%;
          color: white;
          text-transform: uppercase;
          margin: 0 auto;
      }
  }
}