p{
    margin-left: 5px;
}
ion-content{
    --background: radial-gradient(circle, #B1F8F2 0%, rgba(70,252,240,1) 100%);
}
ion-img{
    border: 2px solid grey;
}
ion-toolbar{
    text-align: center;
    --background:#FFFC99
}
// ion-content ion-item-divider{
//     --background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,252,240,1) 100%);

// }